@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  @apply bg-primary-200;
}
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.shadow-input {
  box-shadow: 0px 11px 23px 0px rgba(0, 0, 0, 0.02);
}
.shadow-card {
  box-shadow: 0px 14.7092px 28.1927px rgba(62, 73, 84, 0.04);
}
.shadow-bar {
  box-shadow: 0px 0px 16.7552px rgba(19, 180, 151, 0.56);
}

input {
  caret-color: #13b497;
}

.swiper-button-next {
  color: #13b497 !important;
  top: 50% !important;
  right: 20% !important;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  transition: all 0.5s;
}
.swiper-button-next:hover {
  background: #13b497;
  transition: all 0.5s;
}
.swiper-button-prev:hover {
  background: #13b497;
  transition: all 0.5s;
}

.swiper-button-next:after {
  display: none;
}
.swiper-button-prev {
  color: white !important;
  bottom: 50% !important;
  left: 20% !important;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  transition: all 0.5s;
}

.swiper-button-prev:after {
  display: none;
}

.swiper-slide {
  width: 100% !important;
  height: 100% !important;
}

.card-bar-right {
  background: linear-gradient(113.24deg, #13b497 16.01%, #05737a 106.71%);
  box-shadow: 0px 14.7092px 28.1927px rgba(62, 73, 84, 0.04);
}
@media screen and (min-width: 1280px) {
  .swiper-button-next {
    top: 465px !important;
  }
  .swiper-button-prev {
    top: 465px !important;
  }
}
