@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  @apply bg-primary-200;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #f1f2f4;
}

.shadow-input {
  box-shadow: 0px 11px 23px 0px rgba(0, 0, 0, 0.02);
}

input {
  caret-color: #13b497;
}
